app = "tikdownloader"

primary_region = "cdg"

[build]
  dockerfile = "Dockerfile"
  context = "."

[http_service]
  internal_port = 8080
  force_https = true

  [[http_service.checks]]
    grace_period = "10s"
    interval = "30s"
    method = "GET"
    path = "/health"
    timeout = "5s"



